[Unit]
Description = A tool to convert serial-232 buffers into SNMP commands and requests for Tripplite power cables
Documentation = README.md

[Service]
Type=simple
Restart=on-watchdog
ExecStart=/usr/local/ser2snmp/venv/bin/python -m ser2snmp

[Install]
WantedBy=multi-user.target